/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* home page style */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 64px;
}
.nav{
    width: 100%;
    height: 25px;
    background-color : rgb(7,21,76);
    text-align: center;
    padding: 30px 0;
}
.active {
    color: green;
    margin: 20px;
    text-decoration: none;
}
.active-two {
    color: white;
    text-decoration: none;
}
.sub-header {
    text-align: center;
}
.box {
    width: 100px;
    height: 100px;
    background-color:rgb(153,216,202);
    border: 5px solid black;
    border-radius: 10px;
    margin: 0  auto;
    outline: 10px solid rgb(88,115,226);
    outline-offset: -15px;
    box-shadow:0 0 0 10px rgb(144,255,169);
}
h1 {
    text-align: center;
    margin: 19px;
    font-size: 30px;
}
.article-container h2 {
    font-size: 20px;
    font-weight: bold;
    color:rgb(7,21,76)
}
.section-heading {
    text-align: center;
    margin: 15px;
    font-size: 20px;
}
.circle-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.circle {
    width: 10px;
    height: 10px;
    border-radius:50%;
    display: inline-block;
}
.circle-one {
    background: #99D8CA;
}
.circle-two {
    background: #0D1430;
}
.circle-three {
    background: #90FFA9;
}
.circle-four {
    background: #5873E2;
}
hr {
    border-bottom: 1px dotted;
    border-top: none;
    margin: 20px;
}
.rectangle-container {
    width: 660px;
    border: 2px solid black;
    margin: 0 auto;
    font-size: 0;
}
.rectangle {
    width: 200px;
    height: 180px;
    background: silver;
    display: inline-block;
    margin: 10px;
    box-sizing: border-box;
}
.border {
    border: 2px solid black;
}
/* Blog page style*/
.image-container {
    width: 47%;
    display: inline-block;
    margin-top: 35px;
}
.image-container img {
    width: 100%;
}
.article-container {
    width: 47%;
    margin-top: 50px;
    display: inline-block;
    vertical-align: top;
}
.margin-left {
    margin-left: 5%;
}
.article-container img {
    width: 100%;
    margin-bottom: 15px;
}
p{
    margin-top: 15px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}
.link {
    padding: 10px 15px;
    margin-top: 20px;
    background: green;
    border-radius: 30px;
    color: white;
    text-decoration: none;
}
.learn-more {
    color: green;
    padding: 5px;
    margin-top: 20px;

}
